@import "../../../variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header__logo:hover {
  cursor: pointer;
}

.header__menu {
  display: flex;
  gap: 10px;
}

.header__menu_link {
  text-decoration: none;
  color: $main-background;
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  padding: 5px 10px;
  transition: .5s;
}

.header__menu_link:hover {
  cursor: pointer;
  color: $bright-content;
  background: rgba(black, .3);
}