@import "variables.scss";

body {
  background-color: $main-background;
  color: $secondary-content;
}

.container{
  max-width: 940px;
  margin: 0 auto;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app__content {
  flex: 1 1 auto;
}