$main-background: #F7F7F7;
$main-content: #FFF;
$pale-content: rgba($main-content, .7);
$secondary-content: #7A7A7A;
$bright-content: #DD783F;
$line: #DEDEDE;
$email-text: #817F83;
$email-button: #F8F8F8;