$main-background: #F7F7F7;
$main-content: #FFF;
$pale-content: rgba($main-content, .7);
$secondary-content: #7A7A7A;
$bright-content: #DD783F;
$about-bright: #FBD784;
$line: #DEDEDE;
$email-text: #817F83;
$email-button: #F8F8F8;
$about-black: #0B1D26;
$home-font: #2E2E2E;